*{
	margin:0;
	padding: 0;
}
body{
	background-image: url(img/contact.jpg);
	height: 100vh;
	background-size: cover;
}
h1{
	position: absolute;
	top: 25%;
	left: 48%;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	color: #FFF;
}
p{
	position: absolute;
	top: 30%;
	left:54%;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size:40px;
	color: #000;

}
p1{
	position: absolute;
	top: 35%;
	left:54%;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size:40px;
	color: #000;

}