*{
	padding: 0;
	margin:0;
}
body{
	background-image: url(img/unsplash.jpg);
	height: 60vh;
	background-size:cover;
	font-family: century Gothic;
}
.header{
	float: right;
	text-align: right;
	height: 3px;


}
ul{
	font-size: 25px;
	margin-right: 80px;
	margin-top: 23px;



}
ul li{
	list-style-type: none;
	display: inline-block;
	

	
}
ul li a{
	text-decoration: none;
	padding: 5px 10px;
	color: #FFF;
	border: 1px solid transparent;
	transition: 0.6s ease;

}
ul li a:hover{
	background: #FFF;
	color: #000;
}